<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hot Restaurant</title>

    <!-- styles  -->
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css'
        integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>

</head>

<body>
    <div class="container">
        <div class="jumbotron">
            <div class="text-center">
                <h1>Hot Restaurant</h1>
                <h3>Make Your Reservation</h3>
                <hr>
                <a href="../views/tables.html" class="btn btn-primary btn-large">View Tables <i class='fas fa-hot-tub'></i></a>
                <a href="../views/reserve.html" class="btn btn-danger btn-large">Make Reservation <i class='fas fa-credit-card'></i></a>
            </div>
            <div class="row">

            </div>
        </div>

        <!-- input form -->
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">Table Reservation</div>
                    <div class="card-body">
                        <form role="form">

                            <div class="form-body">
                                <label for="user-name">Name</label>
                                <input type="text" class="form-control form-control form-control-sm" id="user-name">
                            </div>

                            <div class="form-body">
                                <label for="user-phone">Phone Number</label>
                                <input type="text" class="form-control form-control-sm" id="user-phone">
                            </div>

                            <div class="form-body">
                                <label for="user-email">Email</label>
                                <input type="text" class="form-control form-control-sm" id="user-email">
                            </div>

                            <div class="form-body">
                                <label for="user-id">Unique ID</label>
                                <input type="text" class="form-control form-control-sm" id="user-id">
                            </div>
                            <button type="button" class="btn btn-primary" id="submit-btn"
                                style="margin-top:10px">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- scripts  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script type="text/javascript">
        $("#submit-btn").on("click", function () {
            var name = $("#user-name").val().trim();
            var phone = $("#user-phone").val().trim();
            var email = $("#user-email").val().trim();
            var userId = $("#user-id").val().trim();
            var newCustomer = {
                name, phone, email, userId
            }
            $.post("/api/tables", newCustomer)
                .then(function (data) {
                    console.log("add.html", data);
                    alert("Adding customer...");
                    window.location.href = "../tables";
                });
        })

    </script>

</body>

</html>